[2013-11-10 23:45] lukencode opened #2 "Encrypting / Decrypting multiple numbers including zeros"
Hey mate, cool library. I am running into some issues when with zeros:

[code]

If I change the order of the numbers it seems to work correctly.

[code]

[2013-11-15 15:59] ullmark opened #3 "Implement the 0.3 algorithm."

[2014-04-22 17:57] #3 closed, assigned to ullmark

[2014-04-30 06:32] #2 closed, assigned to nobody

[2014-11-21 10:33] nripendra opened #7 "Support for long"
Hi,

I was trying to generate hashid for long data type but it doesn't seem to have support?

[2015-01-09 22:00] cdebry commented on #7
+1

[2015-01-13 09:28] ullmark commented on #7
This is a bit tricky, I would either have to always return a `long` from the `Decode` function or provide a
`DecodeInt64` to not make a breaking change, I say that the latter is needed.

[2015-01-14 05:48] nripendra commented on #7
Yes, I think it will be important to have backward compatibility. You can also create new class if you think that will be cleaner.

[2015-01-15 22:28] ullmark commented on #7
started implementing in https://github.com/ullmark/hashids.net/tree/long-support will close this issue when done.

[2015-03-10 12:58] hagis opened #8 "Decode throws IndexOutOfRangeException with certain incorrect input"
A very useful library thanks! I stumbled upon a bug, which I thought I'd share:

[TestMethod]
        public void TestHashIdsThrowsIndexOutOfRange()
        {
            var hashids = new Hashids("janottaa", 6);
            var numbers = hashids.Decode("NgAzADEANAA=");
        }

[2015-04-01 08:54] Sinouplen opened #10 "The package Nuget for the framework .NET 4.0 is compile with the framework 4.5"
The package Nuget for the framework .NET 4.0 is compile with the framework 4.5.
So it's not possible to use hashids beacause the runtime oblige to have us project with framework 4.5.

[2015-04-21 13:10] humanbeinc commented on #10
Yes, same issue over here.

[2015-04-25 11:03] #10 closed

[2015-04-25 11:04] ullmark commented on #10
This should be fixed now, v.1.0.1 is uploaded to nuget. Sorry about that.

[2015-06-04 18:18] RodH257 commented on #7
@ullmark this is awesome! I was coming here to see if there was any plans for long support and it's already underway. Let me know if there's anything I can do to help finalising it

[2015-06-06 08:54] ullmark commented on #7
Hi guys, I just want to update the status.
I have updated the code to support long, and most of the tests are green, however I when randomly adding VERY large numbers and trying them back and forth I get a red test. Trying to track down the culprit.

@RodH257 You are very welcome to help out, I'll shoot you a note when I've pushed everything I have locally for the long-support.

[2015-06-27 02:32] bchavez commented on #7
:+1: for long support.

[2015-06-29 08:19] ullmark commented on #7
I have pushed my work in progress for the long support to my feature branch, some bug tracking to do, but we have the new functions `EncodeLong` and `DecodeLong`.

I also added an interface and some other bits.

[2015-06-29 13:21] ullmark commented on #7
found the issue where I threw away some data. The long support is good to go, will send out a new package on nuget during the day.

[2015-06-29 14:15] ullmark commented on #7
Pushed to nuget with version *1.1.0*

[2015-06-29 14:15] #7 closed

[2015-08-10 20:58] epalm commented on #8
1.1.0 was released on Jun 29, 2015.  Was this a confirmed issue?  I can't seem to reproduce it.

[2015-08-11 05:36] hagis commented on #8
I don't know what you mean by a confirmed issue, but the test above consistently reproduced the error.

I would retest with the latest version, but I do not have access to a .net environment at the moment.

If you cannot reproduce, go ahead and close this issue.

[2015-08-11 14:44] epalm commented on #8
I meant "was the issue confirmed by the author?"  The test above consistently works for me using v.1.0.1, though I can't find any commits that address the issue.

[2015-08-14 08:05] ullmark commented on #8
sorry for the hold up, been on long vacation so have been away from the computer for some time. I'll add the test and see if it throws. if not, I'll close.

[2015-08-14 08:35] #8 closed

[2015-09-09 03:43] valantonini opened #14 "Incorrect value when decoding hex"
Hi,

It looks like the hex decoding isn't working. I tried the example on the project page and it is losing the first character:

[code]
On longer hex values it is missing more characters:

[code]

Thanks,

Val

[2015-09-09 07:02] ullmark commented on #14
Interesting, I'll have a look...

[2015-09-09 07:21] #14 closed

[2015-09-30 16:57] jonnystoten opened #15 "IndexOutOfRangeException when decoding string with chars not in alphabet"
I'm having a similar issue to #8, but I'm not sure if I've misunderstood something about how HashIds is supposed to work.

My test case is like so:

    [TestMethod]
    public void HashIdsBug()
    {
        var encoder = new Hashids("1234", 6, "ABCDEFGHIJKLMNOPQRSTUVWXY");
        var decoded = encoder.Decode("ZZZZZZ");
    }

This throws, because the Zs are not in the alphabet they end up being

[2015-09-30 18:07] ullmark commented on #15
Hi,
Yes, that's obviously not going to work, as you said, Z are not in the alphabet. The question is whether it should throw a more descriptive error or not. I guess that could be good at the cost of needing to enumerate the alphabet and the hash every time to make sure that all characters in the hash exist in the alphabet or not before trying to code.

checking for < 0 might be a solution. But th

[2015-09-30 20:13] ullmark commented on #15
... or maybe it shouldn't throw at all but just return an empty array...

[2015-09-30 23:07] jonnystoten commented on #15
Yes, I was not clear, I meant I thought it should return an empty array when the input chars are not in the alphabet! (or any decoded numbers are negative).

[2015-10-01 09:33] casserlyprogramming commented on #15
Personally I think it should throw an error and let the calling application handle that exception. That seems like a better design than arbitrarily returning an empty array.

[2015-10-02 11:03] jonnystoten commented on #15
@casserlyprogramming Well, it's not that arbitrary because the same method returns an empty array in other error cases. Better to be consistent!

[2016-03-11 15:26] manigandham commented on #15
It would be great to have `TryDecode` methods that follow the .NET idioms of attempting to parse without throwing an exception.

This is very useful in certain situations where the input can't be controlled or is unpredictable and avoids the overhead of throwing/catching exceptions.

[2016-03-11 19:47] ullmark commented on #15
@manigandham Hi, I'll look into it although I think returning empty array seems most appropriate given we already do it for other errors.

[2016-03-21 17:10] bchavez opened #17 "CoreCLR Support"
Drop in source copy doesn't seem to compile under DNX Core RC1:

[code]

Any ideas?

Thanks,
Brian

[2016-03-21 18:22] ullmark commented on #17
Hi. @bchavez hashids.net was built before dotnet core and such existed, so support might not exist right now, I am working on trying to catch up with adding support and getting knowledge on how to best change the project to support all the different targets.

There are PRs available for this ex.
https://github.com/ullmark/hashids.net/pull/16

In the meantime maybe you could test that code out. I'l

[2016-03-21 20:03] bchavez commented on #17
Hi @ullmark , no worries. I pretty much just changed one line: https://github.com/bchavez/Bogus/commit/4763ab8f69c4ece06f0843e16b2beeee3b4d114b

I don't think this is a permanent fix. I think CoreCLR will have `string.Copy` in RC2, but I'm not totally sure. It's not super critical in my case, so a little hack like this will work fine. :+1: Sorry for the dupe issue, feel free to close the issue if

[2016-05-09 07:13] sheitmann opened #18 "Negative long values throw an exception"
the issue seems to be in a lot of hashid implementations

[2016-05-09 07:23] ullmark commented on #18
Yes, hashids doesn't support negative values. As stated in documentation. :)

[2016-05-09 09:08] sheitmann commented on #18
oh ok, seems I did not see it.
maybe the method should check for negative long values and throw a meaningful exception and also the method documentation should note this. what you think about?

[2016-05-09 09:14] ullmark commented on #18
Yes, to give a slightly longer answer. Some of the others implementations doesn't have all the features C# has. When building the port I thought about using `uint` instead of `int` since that would have made a better APi. The problem is that not a lot of people use `uint` or even know that it exist so I decided against it. Didn't want ppl to do type casting all the time just to use hashids.

Yes,

[2016-07-15 05:08] CVertex commented on #17
Would love to see a .net core version of this

[2016-07-15 06:39] ullmark commented on #17
@CVertex Hi, yup I agree. At first I didn't want to change the api based on some alpha version of Core that might change. Now I have a branch where I've converted the entire library to a "portable class library" which seems the best fit for this kind of library.

However I don't feel Microsoft does a good job explaining PLC or if it needs to be build and distributed some other way on nuget.. etc.

[2016-07-15 09:07] CVertex commented on #17
@ullmark I did some quick searching for Migrating nugets to .NET core and didn't find anything useful. I've never built a nuget package before, so I wish I could help.
I've only been playing with ASP.NET core apps. Perhaps next time I play with .NET core I'll experiment with building a nuget from a class library. Apparently the dotnetcore tooling makes it much easier to make nuget packages from an

[2016-09-02 21:01] ullmark commented on #17
Support has been added in version `1.2.0`

[2016-09-02 21:01] #17 closed

[2016-09-10 12:33] #15 closed

[2016-09-10 12:33] #18 closed

[2017-02-21 10:36] bichtv opened #20 "alphabet must contain at least 4 unique characters"
I have issue:
var hashids = new Hashids("This is my salt", minHashLength, "0123456789");

the way resolve exception ?

Thank for support

[2017-02-21 10:48] ullmark commented on #20
I'll have a look and see if I can reproduce!

[2017-02-21 11:48] ullmark commented on #20
what is your variable "minHashLength"?

[2017-02-21 11:56] ullmark commented on #20
Ok, I've reproduced the issue, the problem here I guess is that the APi is a bit unclear...  The Hashids class relies on having an alphabet and separators. After removing separator characters it should at least be 4 characters left..   But the code checks that a bit weird.

I'll make a new version and close this ticket when fixed!

[2017-03-01 12:17] impworks commented on #20
Came across this issue as well. So *should* it be possible to use Hashids with an alphabet of 10 digits?

[2017-03-03 14:37] ullmark commented on #20
I've seen that they've changed a bit in the javascript library from how it was in the original port. You are able to change the alphabet, but not the seps anymore.

@ivanakimov just want to check with you what the intent is, should you be able to construct a hashids object like above. I don't want to loose compatibility with the other ports.

[2017-03-03 16:41] ivanakimov commented on #20
The latest version of Hashids requires a minimum of 16 characters. The reason for that is the length of [separators](https://github.com/ivanakimov/hashids.js/blob/master/lib/hashids.js#L22), which is 14. That way if you give the worst possible alphabet, like `cfhistuCFHISTU01`, at the very least the library will have 2 characters to compose ids from.

I'm not sure we were ever providing access to

[2017-03-03 16:57] ullmark commented on #20
@ivanakimov maybe you're right. Either the capability of sending in `seps` was removed, or I shouldn't have allowed it from the beginning when I created the port.

Maybe I should remove that capability then!

[2017-03-03 16:59] ivanakimov commented on #20
@ullmark yeah, well if somebody modifies it, then ids won't match across other implementations. It's actually a todo for future releases, but currently not supported across libs.

[2017-08-02 15:25] psavelis opened #21 "IndexOutOfRangeException when decoding string with guard chars"
Hi @ullmark ,

I've ended up in a scenario where Decode method throws an exception when we pass any of the characters in the "guard" generated by SetupGuards method.

There's how you reproduce:
[code]
And here's what happens in GetNumbersFrom(string hash) method, please find below:
[code]

I'm not sure what the guards stands for in that case (didn't made much effort there, eh) but I believe that's

[2017-08-09 21:59] ullmark commented on #21
Hey! I'll have a look!
But I think I will change the logic around how to setup the alphabet (see issue #20) and guards...
Thanks for the code, I'll make a test and see if it is something I should change!

[2017-09-07 14:43] xoborgstudios opened #22 ".Net version not working on xamarin forms"
I have tried to install hashids into a xamarin froms plc app and it doesn't add properly.

This is the error:

It could be incredibly useful if you can give support to xamarin!!
Thanks!! :)

[2017-09-07 21:16] ullmark commented on #22
@xoborgstudios Is this in an older project? There was a lot of confusion around dotnet core, Portable class library and .NetStandard...  But I believe it was settled on calling it .NetStandard, see .
https://oren.codes/2016/06/23/portable-is-dead-long-live-netstandard/
https://blog.xamarin.com/net-standard-library-support-for-xamarin/

Hashids support .NetStandard 1.0+

[2017-10-11 19:21] ullmark commented on #22
Ok, I'm closing this ticket. Without more information I have no plan on adding support for a format that has been discontinued. Going forward .NetStandard seems to be the way to go.

[2017-10-11 19:21] #22 closed

[2018-10-17 11:18] MarkOtter opened #23 "Encoded hash is not being decoded (rounding bug)"
I have a reproducable bug in which certain input does create a valid hashid, but the Decode fails!

Repro code where the result is empty, instead of equal to the source:

[code]
_(Both the first (`35887507618889472L`) and the last (`Int64.MaxValue`) long values fail here)_

After some investigation of my own, it turns out the root cause is the use of the `Math.Pow` function in the Unhash function.

[2018-10-21 08:32] ullmark commented on #23
Cool, thanks! I'll have a look and include it in the next version!

[2019-05-22 08:37] craigmccauley opened #24 "Using a similar salt produces same Encoding/Decoding with a large salt size."
I'm using this library to mask the Ids for a Web Api. I'm using a constant Guid + the name of the resource to produce the salt. I noticed that if the salts are only different when over 42 characters long then the Masks are identical.

I threw together a sample to show what I mean.

[code]
Sample Output:

I switched salt generation to be resource name + Guid() and I have much better results with on

[2019-05-24 11:19] ullmark commented on #24
@craigmccauley Hi, I will have a look and see if I can understand the issue here.

[2019-06-18 21:13] douglasg14b commented on #23
@MarkOtter Maybe make a pull request to get the fix in? It doens't seem like this project has been updates for a few years.

[2019-08-25 05:02] suhrab opened #25 "Thread safe"
Is instance of hashids.net thread safe? Can I use it as singleton in my app?
`new Hashids("this is my salt");`

[2019-11-30 01:08] minhhungit commented on #23
@ullmark @douglasg14b hi any news sir

have you had a chance to review this issue @ullmark

[2019-12-05 11:10] ullmark commented on #25
Hi @suhrab, I've been thinking about this, The algoritm is originally from a javascript library, and probably not written with threading in mind. While porting the code, I didn't didn't either have it in mind.

Therefor I cannot swear it is. I'll look over the code, I'm seeing some variables being mutated that might pose an issue.

[2019-12-05 11:10] #25 closed

[2019-12-05 11:12] ullmark commented on #23
A pull request would have been nice :) I'll update the code and make sure tests execute and then make a release.

[2019-12-05 11:20] ullmark commented on #23
Doesn't seem "System.Numerics" is included in .netstandard 1.0...

[2019-12-05 11:31] ullmark commented on #23
I could apply @MarkOtter when not using .netstandard1.0. Would that suffice @minhhungit ?

[2019-12-05 12:33] minhhungit commented on #23
I'm still using .net framework so I don't worry much about .netstandard

[2019-12-06 12:26] MarkOtter commented on #23
It seems like System.Numerics is available in [Standard 2.0+](https://apisof.net/catalog/System.Numerics), or there is a NuGet package for [Standard 1.1+](https://www.nuget.org/packages/System.Runtime.Numerics/).

@ullmark I think the decision should be made what minimum version you'd like to support with this code. Given the [implementation support](https://docs.microsoft.com/en-us/dotnet/standar

[2019-12-17 04:48] he1a2s0 opened #27 "RegexParseException on new Hashids(..) sometimes using salt and alphabet which both contain dash(-)"
sample code reproducing:
[code]
debug use source code:
![Snipaste_2019-12-17_12-44-19](https://user-images.githubusercontent.com/1826021/70965551-030f3680-20cb-11ea-82b8-04052d95ff2b.png)

[2020-02-19 21:21] clearwaterstream opened #28 "Question: Is the hash algorithm "future-proof"?"
As I understand it, certain offensive or inappropriate words are omitted when generating a hash. Cool. What if the dirty words list get longer as time goes by? Will it change the logic of the hashing algorithm then? Will I be able to de-hash something I hashed today 10 years in the future?

Thanks!

[2020-02-20 12:22] ullmark commented on #28
Hi there,
There isn't really a list of dirty words, it works like this (from https://hashids.org/);

So the algoritm isn't changing. Therefor you will be able to de-hash something 10 years from now. The idea is to have the same system over all implementations of hashids.

Version 2.0 if that ever arrives might have another algoritm across the board, who knows, therefor it is recommended to install

[2020-02-20 12:22] #28 closed

[2020-02-20 15:00] clearwaterstream commented on #28
Thank you for the explanation!

[2020-03-20 02:31] Exocomp opened #29 "Thread safety"
On a quad core/4hz machine with .NET Core 3.1 using static vs creating a new instance is about **110 times slower** (using encode/decode) testing with 1M integers.

Using a single instance is super fast, so due to performance gains I'd like to use a single instance and share it across threads. So therefore it brings into question thread safety.

I've been testing encode/decode with Parallel.For an

[2020-03-20 04:08] manigandham commented on #29
We use it in millions of calls every minute in a multithreaded app using a static singleton instance. It works fine as-is.

There are lots of other performance improvements that we made for allocations though in our internal fork but you should be fine as far as thread-safety.

[2020-03-20 13:08] Exocomp commented on #29
@manigandham thanks for chiming in, that's reassuring.

For the library maintainers I suggest creating some test cases for thread safety of all the methods just be sure, the performance of a single instance is just too good just to limit this library to always create a new instance. It will only add to the awesomeness of this library.

[2020-03-20 13:15] ullmark commented on #29
@Exocomp there are no maintainers in plural, only me sadly. I would however be very happy if someone would make a PR with those test cases. I recently had a kid and have had rather limited spare time..  I will get there and create those tests, but maybe not as soon as you'd like!

[2020-03-20 16:05] Exocomp commented on #29
@ullmark thank you for creating this library it is super useful! Congrats on your child and I absolutely understand regarding time.  I'm super busy also but hopefully sometime in the future we can find some time.

[2020-08-08 12:40] matteofabbri commented on #20
Came here to open the same bug. 16 Chars is fine but please fix the error message

      if (this.alphabet.Length < 16)
        throw new ArgumentException("alphabet must contain atleast 4 unique characters.", nameof (alphabet));

[2020-08-16 19:56] DwayneBull commented on #24
I've been playing around with this recently.
This issue is due to the salt being trimmed to the alphabet length. The salt used for shuffling will never be longer than the alphabet so you either need a shorter salt or longer alphabet.

[2020-08-16 19:59] DwayneBull commented on #23
Given that the powers are small ( only as long as the hashed string ) it would be better to use a manual pow function and avoid bigint.

i.e.
`
        private long Unhash(string input, string alphabet)
        {
            long number = 0;

            for (var i = 0; i < input.Length; i++)
            {
                var pos = alphabet.IndexOf(input[i]);
                number += (long)(pos *

[2020-09-02 10:31] NickStavrou-Net opened #31 "Return specific length of Hashid"
Hello, i have this implementation in my code but the results does not return only 8 hash characters.
`Hashids hashids = new Hashids(salt, 8, "0123456789abcdefghijklmnopqrstuvwxyz");`
` string hash = hashids.EncodeLong(666555444333222L);`

Is this possible to return only 8 characters?

[2020-09-05 11:17] DwayneBull commented on #31
No, it will just return a minimum of 8. You can increase the alphabet to get shorter ids.
But I would also take a look at a few other issue posts here and make sure you wont run into any of the outstanding bugs as I'm not sure this is maintained.

[2020-09-21 12:07] NickStavrou-Net commented on #31
What do you mean i should increase the alphabet?
If i provide same alphabet string will i get duplicate values as well?

[2020-10-02 09:09] DwayneBull commented on #31
Add more characters, you cant encode such a large long in 8 characters with that alphabet, e.g add A-Z as well.
Not worked it out but I would guess roughly 15 characters would be needed with that alphabet to encode a long with any possible value..

[2020-11-02 17:19] chrispaynter opened #32 "int."
Hi,

I'm getting some inconsistent results with the library with large numbers. I discovered these whilst I was adding some unit tests to stress test my implementation.

It occurs when I have a custom alphabet and separator string.

For the purposes of setting the salt, I've used a guid and I've also set the min hash length to 15, and all tests use the same values.

## Passing Example
As a control

[2020-11-02 17:55] chrispaynter commented on #32
I've done some further playing, and if I add the 1 back into the custom alphabet, so that it is this:

[code]

Tests pass as expected.

Then if I remove 5 from the custom alphabet, it fails again.

I don't know enough about the internals to speculate why this is.

[2020-11-02 18:15] ullmark commented on #32
Ah, that is interesting. I'd have to admit that I probably don't know enough about the internal algorithm either seeing that this library is just a port. I believe this algorithm was first conceived in javascript that doesn't or at least didn't have "longs". I am not sure what to do here since changing the algorithms internals might potentially be bad as well.

[2020-11-02 18:48] chrispaynter commented on #32
Yeah longs are not a first class citizen in JS it seems.

When I get time I'll try and reproduce this in the JS version.

[2020-11-02 18:49] chrispaynter commented on #32
If you don't mind leaving this issue open for now, I will possibly link back to this from the JS repo.

[2021-01-11 23:17] cesarsouza opened #35 "Decoding fails with custom separators"
Please consider the example below. The only thing I've done was to remove the last letter ('U') from the separators used by default. After removing just this one letter, the decoding function will fail to decode the string and generates an empty array instead.

[code]

[2021-01-11 23:48] cesarsouza commented on #35
I've decided to change the sources myself and found out that the modifications proposed by @DwayneBull in https://github.com/ullmark/hashids.net/issues/23#issuecomment-674570717 solved this issue.

[2021-03-18 18:05] morilon opened #36 "Documentation - Salt maximum size"
I had an issue with the salt size while testing an application I was creating and it was frustrating that I could not find anywhere the salt limitation, I only realized after a few tests. Did I miss something?

I tried with 5, 7, 10 and 15 hashid sizes and the result is the same.

Length: 40 | G596a7LjZE | 2Nda1MaEwz
Length: 41 | Nm9Vao3Rbr | 6Zw3Ll37Np
Length: 42 | kxmv3QVBGd | gXQ3v0aepv
Length:

[2021-03-18 18:26] morilon commented on #36
Miss clicked on close, sorry.

[2021-04-06 16:51] hdwatts commented on #21
@ullmark Any update on this? We've surrounded our `decode` checks with a try/catch for `IndexOutOfRangeExceptions` in the meantime but would prefer a proper solution.

[2021-04-16 03:32] MrSmoke commented on #29
@manigandham any chance of upstreaming some of those performance updates into this repo?

[2021-04-16 04:42] manigandham commented on #29
@MrSmoke Sure but it's been years since I worked on our fork and it needs to be redone with the latest language features.

@Daramant has an open PR for better performance right now: https://github.com/ullmark/hashids.net/pull/37

[2021-04-16 05:51] ullmark commented on #29
So, the deal is that I don't really use windows much these last years, I'm going to see if I can get it running in macOs and .net core. Otherwise I might be able to remote to a windows computer.

Its great to hear @manigandham, but are there a way to really _test_ thread safety? When this ticket came in I tried googling how to verify that in .net, but couldn't really find anything good?

I would g

[2021-04-16 06:53] manigandham commented on #29
You can test by creating new threads that call the same instance and use `Thread.Join` to wait for the results. Add in some randomization to the loops and it should be enough for the logic being tested here.

Also the older target frameworks can probably be dropped since they're end of life already, and .NET Framework 4.8 is the last/latest Windows framework which already supports `netstandard2.0`

[2021-04-16 06:57] ullmark commented on #29
@manigandham I'll give you access! 👍

[2021-04-16 07:26] manigandham commented on #29
@ullmark Got it, thanks. I'll see what I can do in the next few days

[2021-04-16 19:30] Daramant commented on #29
HashIds store simple data types inside and don't modify it. So, yes, it is thread safe.
Added thread safe test: https://github.com/ullmark/hashids.net/pull/37/commits/5e7d43d8829a9d4be6bcf3f1957aabf35333d2f6

[2021-04-17 01:49] #20 closed

[2021-04-19 20:15] #23 closed

[2021-04-19 20:15] #21 closed

[2021-04-19 20:15] #27 closed

[2021-04-19 20:17] manigandham commented on #31
@NickStavrou-Net

Like @DwayneBull says, that parameter is only for setting the _minimum_ hash length, and the library will use more characters to encode the value depending on your alphabet. Closing this issue for now, let me know if you need more help.

[2021-04-19 20:17] #31 closed

[2021-04-19 20:18] manigandham commented on #35
@cesarsouza

I've merged that fix and am working on other updates. We will have a new release soon. Closing this issue for now.

[2021-04-19 20:18] #35 closed

[2021-04-19 20:21] manigandham commented on #32
hey @chrispaynter

I believe this is fixed by #23 which I just merged. All of your tests pass with the latest code. Should have a new release soon, closing this issue for now.

[2021-04-21 16:39] manigandham commented on #36
Hi @morilon

Can you explain what's wrong with the results? Are you trying to use larger salts?

[2021-04-21 17:00] manigandham commented on #29
hey @ullmark

I merged a bunch of bug fixes and improvements, updated tests, added the github actions workflow, and updated library version to 2.0.0. It should be ready for publishing to nuget. Let me know.

[2021-04-21 22:47] Daramant commented on #29
Hi, @manigandham, final optimizations: https://github.com/ullmark/hashids.net/pull/43

[2021-04-22 11:45] ullmark commented on #29
@manigandham let me just briefly explain my thoughts on versioning of this library. This is initially a port of a javascript (or PHP whichever was first) library that now exists in 40+ languages. One of my friends built the Ruby version so I would say the code base is influenced by his port.

I tried to make build it by taking influences from JS to make sure that any changes to the algorithm could

[2021-04-22 12:30] manigandham commented on #29
@ullmark  Ah, yes thanks for the explanation - that makes sense. I'll merge in the new PR by @Daramant which made some more improvements in reducing allocations and will reset the version number to 1.4.0 (since we haven't published it yet).

[2021-04-22 12:59] ullmark commented on #29
@manigandham going to see if I can give you access to publish on nuget as well.

[2021-04-22 15:25] manigandham commented on #29
Impressive results from @Daramant
|         Method |     Mean |     Error |    StdDev |  Gen 0 | Gen 1 | Gen 2 | Allocated |
|--------------- |---------:|----------:|----------:|-------:|------:|------:|----------:|
|  RoundtripInts | 4.119 us | 0.0102 us | 0.0090 us | 0.1755 |     - |     - |   1.45 KB |
| RoundtripLongs | 4.608 us | 0.0888 us | 0.0912 us | 0.2060 |     - |     - |    1.7 KB |
|

[2021-04-25 02:28] manigandham commented on #29
hey @ullmark
are you still working on publishing this?

[2021-05-04 02:20] manigandham commented on #29
hi @ullmark are you still planning on publishing? anything I can do to help?

[2021-05-04 07:25] ullmark commented on #29
hi @manigandham. A question; Is there any way of using github for that, seeing a couple of new panels. Otherwise I could add so you have access publishing on nuget, what's your account there?

[2021-05-04 07:27] ullmark commented on #29
seeing microsoft now owns github right, it should be possible to setup something that deploys directly to nuget?

[2021-05-04 13:52] manigandham commented on #29
There's nothing automatic in github. It supports package hosting but separately from nuget. There are github actions that can push to nuget but I havent set that up before.

My nuget username is https://www.nuget.org/profiles/manigandham

[2021-05-04 18:01] ullmark commented on #29
@manigandham I created a new Organization called "hashids.net" on nuget where I also invited you as a collaborator. I removed myself as owner of the package and let the organization be the only owner.

I believe you should be able to publish new versions of the package now. Feel free to email me at ullmark@gmail.com in the future if there is something you want to discuss. There is also a "hashids"

[2021-05-04 19:28] manigandham commented on #29
Hey everyone - the latest release 1.4.0 is now live: https://www.nuget.org/packages/Hashids.net/1.4.0

[2021-05-04 19:28] #29 closed

[2021-05-11 16:29] manigandham commented on #36
Got it. I cleaned up the readme and added a note about the salt. Closing this now.

[2021-05-11 16:29] #36 closed

[2021-06-29 15:33] royalghost opened #44 "HashIds.net does not work in Azure Functions"
When bundled with Azure Functions using dotnetcore3.1, hashids.net does not work in runtime and throws following exception ```Could not load file or assembly 'Microsoft.Extensions.ObjectPool, Version=5.0.0.0, Culture-neutral ...```

What is the workaround to use hashids in Azure Functions ?

[2021-06-30 03:46] manigandham commented on #44
That library should work fine with `netstandard2.0` which is supported by `netcore3.1`

Do you have any code you can share? It'll be quicker to debug.

[2021-06-30 22:13] royalghost commented on #44
Thanks for reaching out. I have created a new bare minimum Azure Functions at https://github.com/royalghost/HttpTriggerDemo that fails with the following exception :
[code]
However, if I downgrade `<PackageReference Include="Microsoft.NET.Sdk.Functions" Version="3.0.13" />` to `3.0.3` it does work. Looks like the library is broken for latest release.

[2021-07-01 01:17] manigandham commented on #44
Thanks for the info. Looks like it's limited to the Functions library then. There's not much we could really do about this problem since it's built for `netstandard2.0` already. Can you work with using that lower version of the functions library?

[2021-07-02 04:12] royalghost commented on #44
It seems [this commit ](https://github.com/ullmark/hashids.net/commit/67485d28189bb42c26db9cc825bae98e84925463)to to use ObjectPool is causing this exception. Could you take a look at why using `Microsoft.Extensions.ObjectPool`  could be a issue here ?

[2021-07-02 04:25] manigandham commented on #44
The library uses `ObjectPool` to reuse the `StringBuilder` and save significant allocations. The `Microsoft.Extensions.ObjectPool` library itself is already multitargeted to include `netstandard2.0` and the functions environment doesn't provide much to debug.

It's unlikely that we'll stop using the `ObjectPool` but I'll see if there's an alternative. Please share if you have any other logs or inf

[2021-07-03 04:28] manigandham commented on #44
hey @royalghost

I replaced the ObjectPool package with a simple internal implementation (PR #45). The new hashids version 1.4.1 is published on nuget: https://www.nuget.org/packages/Hashids.net/1.4.1

Your function code works now: https://appone1.azurewebsites.net/api/httptriggerdemo

Let me know if that solves it for you.

[2021-07-05 14:16] royalghost commented on #44
Thanks @manigandham for publishing a new version with a fix. It seems the change has fixed the issue. I will run few more test cases and close this defect in next few days.

[2021-07-13 01:45] manigandham commented on #44
Assuming this solved the problem so closing the issue. Let us know if you find any new problems.

[2021-07-13 01:45] #44 closed

[2021-07-16 01:23] royalghost commented on #44
Thanks for closing. Yes, it solved the issue. Really appreciate for your help!

[2021-09-01 09:14] datphan310 opened #46 "[Question] - can we decrease the MaxNumberHashLength?"
hi team, can we decrease the MaxNumberHashLength to 8 or 10?

[2021-09-01 09:32] #46 closed

[2022-02-17 14:38] tanek100 opened #48 "Version upgrade from 1.3.0 to 1.4.0 produce different hashes"
## Problem

Version upgrade should not change hash, if salt, alphabet, minimum length have not been changed. Tested with .NET 6 console application.

## Results:

### v1.4.0
[code]
### v1.3.0
[code]
## Code to reproduce

[code]

[2022-02-21 10:54] manigandham commented on #48
Hey @tanek100

Thanks for reporting. Version 1.3.0 was released in 2019 and several bugs have been fixed since then. The correct hashcode is `qyrFRr7jCY` which is produced by v1.4.0.

Hashids uses a [common algorithm with implementations in many languages](https://hashids.org/) so the others can be used to compare. Here's the canonical Javascript version also resulting in `qyrFRr7jCY`

[code]

Liv

[2022-02-21 17:48] #48 closed

[2022-03-24 19:58] ChaoticSurfer opened #51 "Allow specifying ValueTypes for encoding/decoding as data structure"
It will be performance improvement and for complex types people would be able to use structs, as it makes more sense then using arrays. because structure is fixed, better use value type with fixed signature

[2022-03-24 23:10] manigandham commented on #51
Hi @ChaoticSurfer

I'm not sure I understand. Are you saying you want to be able to pass in a struct with multiple properties instead of an array? The library (and algorithm) supports unlimited parameters in both the encode and decode process so it would require a lot of separate class shapes to recreate all that, and I'm not sure I see the benefit over an array at that point since the allocation

[2022-03-25 08:27] michaldivis opened #53 "Optimization: decode a single ID without allocating an array"
Hi,

I'd like to propose an optimization for the `Decode` method. I'll be decoding a single ID most of the time, so it might make sense to add add the following methods:

[code]

This approach would not require allocating an array for returning single values.

[2022-03-25 10:08] ullmark commented on #53
Yeah, makes sense I guess... The methods originally were meant to match what they were called and how they work in the javascript library, but for instance, the concept of `long` was something added that javascript doesn't support.

I think that first and foremost a library should be easy to use for the developers. Micro optimizations in performance, memory usage etc is less important. It is very

[2022-03-25 17:03] michaldivis commented on #53
Thanks for such a quick answer. I understand that the minor memory usage optimization isn't worth adding more complexity to the library.

Another reason I think this proposal might make sense is that it would make the usage **more explicit about only expecting one number**. I've' always been using this library to translate a single hash to a single entity ID and my proposed solution might be more

[2022-03-26 04:36] kamronbatman commented on #53
Thanks @ullmark for making this library!

Before I even saw this issue, I was already working on performance with the hope of (at least some) of the changes being merged upstream when it makes sense. I included Option 1 already.

Here is a work in progress PR for reference:
https://github.com/kamronbatman/hashids.netcore/pull/1

Speaking of your proposal @michaldivis, I actually like Option 2 bett

[2022-03-26 13:56] neozhu opened #56 "how to Creates short unique ids from integers. (only positive numbers & zero)"
please give me a sample

[2022-03-26 14:23] KeterSCP commented on #56
https://github.com/ullmark/hashids.net#usage here you can find all the necessary information

[2022-03-26 15:07] #56 closed

[2022-03-29 22:52] manigandham commented on #53
Hey everyone, sorry about the delay here. Thanks for the suggestion @michaldivis, this has come up before so two points about the history:

- There's no performance benefit because the array is already allocated to hold the result in the first place, so saving on the return won't matter. There are some low-level optimizations like passing in your own buffer or adding a flag throughout the encoding

[2022-04-02 20:22] manigandham commented on #53
- New version 1.5.0 has been released: https://www.nuget.org/packages/Hashids.net/1.5.0
- Changelog with several big improvements: https://github.com/ullmark/hashids.net#changelog

Thanks for everyone's help with this!

[2022-04-02 20:22] #53 closed

[2022-04-02 21:34] manigandham commented on #51
Closing for now, feel free to reopen if you have more thoughts on this.

[2022-04-02 21:34] #51 closed

[2022-04-02 21:36] #24 closed

[2022-04-03 07:36] GihanSoft opened #64 "`Bug` on big long and 16 alphabet"
below code throw `System.IndexOutOfRangeException`
[code]
full exception text:
[code]

[2022-04-03 11:12] KeterSCP commented on #64
JS implementation produces an empty string for this case, see https://playcode.io/880757/

However, changing this to be an actual long.MaxValue length of 19 fixes the issue (and btw why it is 12? that's incorrect)
https://github.com/ullmark/hashids.net/blob/1d574f61e3885f006ef5ee909687f58b37f3d369/src/Hashids.net/Hashids.cs#L19

@ullmark @manigandham what are your thoughts on this?

[2022-04-04 08:18] ullmark commented on #64
The library is a port of a javascript library, which has since been ported in **a lot** of languages. My initial code was me trying to make a translation to C# that was a map/translation of the javascript code. That way, if the algoritm changes (which it did, quite a bit at one point) it would be easier to update the .NET version.

That's basically one of the reasons for the code not being _optima

[2022-04-04 08:48] KeterSCP commented on #64
Many users map database IDs to C# long type and I'm afraid the library will lose some amount of users if we remove support for long

[2022-04-04 09:20] KeterSCP commented on #64
I've checked the Python implementation and it works fine with long.MaxValue, producing the same result as if we changed `MaxNumberHashLength` to 19:

C#:
![image](https://user-images.githubusercontent.com/38229504/161513306-c0b3a9e0-7677-4f2d-b5c4-a2b4a7e52392.png)

Python:
![image](https://user-images.githubusercontent.com/38229504/161513945-f2f80a74-2a49-425e-8d54-2a277dfebc58.png)

[2022-04-04 09:32] ullmark commented on #64
yeah, I didn't mean remove it... I was just explaining why it probably was 12. I also think that we've strayed away from keeping a "similar" codebase, so making it more C# is also 👍

[2022-04-04 09:37] KeterSCP commented on #64
Oh, I see. I misunderstood that as "long support was a mistake", my bad

[2022-04-04 18:57] manigandham commented on #64
Confirming that Go version returns the same:
[code]

[code]

[2022-04-04 19:00] manigandham commented on #64
This change came from commit https://github.com/ullmark/hashids.net/commit/1e280f1138b6612dcad6a357c039cac44756e6ee

Javascript can only support integers up to 53 bits because the number type uses floating points. Looks like it was just a bug at the time. I'll merge in the PR that fixes it.

[2022-04-04 19:45] #64 closed

[2022-05-16 11:49] Maxmyd opened #74 "Using multiple options for encoding/decoding"
Hi,
Actually this might be a feature request.
Now Hashids is injecting as a singleton with the only salt and other settings. I'd like to use different salt and encoded id length in certain situations. Is there a way to do this in current version? Or, if not, could you please think about it?
Thank you.

[2022-05-16 20:36] ullmark commented on #74
Hi @Maxmyd,
Hashids is neither a singleton or is automatically injected anywhere. It's a regular class that you instantiate, setup and use how ever you like. If dependency injection is something you'd like to use, there is definitely ways of setting up multiple instances of the Hashids class at the same time.

I suggest reading up on how you can configure the dependency injection container you wan

[2022-05-16 20:36] #74 closed

[2022-05-28 16:06] crmeadowcroft opened #75 "Attempting to Decode short strings results in incorrect exceptions being produced"
1 character length strings produce:
System.IndexOutOfRangeException: Index was outside the bounds of the array.
   at HashidsNet.Hashids.GenerateHashFrom(Int64 number, Span`1& result)
   at HashidsNet.Hashids.GetNumberFrom(String hash)
   at HashidsNet.Hashids.DecodeSingle(String hash)

2 character length strings produce:
System.ArgumentException: Destination is too short. (Parameter 'destination'

[2022-05-28 16:26] crmeadowcroft commented on #75
Should have mentioned this was using the default arguments except a minimum hash length of 8. The exception with 1 character still happens using any minimum hash lengths including the default (0).

The System.ArgumentException: Destination is too short. (Parameter 'destination') happens whenever a string is passed in which is less than the minimum hash length.

[2022-06-01 01:10] CliveBennett commented on #75
Hi, I just came across this with a Unit test trying to decode the phrase "Junk"

Even the TryDecodeSingle fails? would have thought that one should have just returned false instead of throwing an Exception?

[2022-06-01 10:00] ullmark commented on #75
@CliveBennett I agree, a function named "TryBlabla" shouldn't ever produce an exception imo if we want to follow the C# naming "standard"...

We should fix that.

[2022-06-02 04:05] manigandham commented on #75
thanks @crmeadowcroft for pointing that out, added a new PR to fix

[2022-06-02 04:48] #75 closed

[2022-06-02 05:23] manigandham commented on #75
fixed in 1.6.1: https://www.nuget.org/packages/Hashids.net/1.6.1

[2022-06-06 08:24] MiteshVekariya2011 opened #77 "Hashids not generating with proper minhashlength"
We are using hashsalt = blacksalt, minhashlenth = 4 and hasalphabet  =abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ

When we try to encode the below it generate value with different min length.

**Input:**39300
**output:** dfrc (output is dummy but perfect as min length is 4)

**input:** 40000
**output:** ddfdf (output is dummy but perfect as min length is 5)

Please guide us how to get res

[2022-06-06 09:26] manigandham commented on #77
The `minHashLength` parameter is the **minimum** size. It does not limit the **maximum** size.

The library and algorithm fills in extra characters to meet the minimum size but it cannot force arbitrary numbers into a max size. I suggest you use a bigger alphabet (with numbers) to get shorter hashes.

[2022-06-08 10:05] #77 closed

[2022-07-04 07:10] zehanjura opened #78 "HashIds not working after adding custom Output formatter"
I am using Hashids library in my .NET 6 API to encode int values into string values in my model before sending it off to the API caller. The library is currently working fine.

Recently I have a requirement to provide pascal cased json from the API (default it was returning camel case). In order to achieve this I have gone in the path of sending an Accept header with a custom value and added an ou

[2022-07-04 07:26] ullmark commented on #78
Hi there. I saw your question on stack overflow too, but without looking into too much details, error sounds more an issue with dependency injection and your container setuo than with hashids.

[2022-07-04 07:51] zehanjura commented on #78
ok thank you.

[2022-07-04 07:51] #78 closed

[2022-07-20 15:50] sujayvsarma opened #79 "How do I get HashIDs of a specific length?"
I have input numbers of a specific range and length, created in a specific way. However, I need the generated hashes to be of a specific output length. Is this possible?

Currently, the constructor allows one to set a **minimum** length, but not a maximum.

[2022-07-20 19:40] manigandham commented on #79
Hi - there's no way to set a maximum. The algorithm can add characters for a minimum length but there's no way to force arbitrary numbers into a fixed size.

[2022-07-20 19:40] #79 closed

[2022-08-08 10:08] jetersen commented on #75
Thanks for fixing the bug I introduced in #65

[2022-10-27 16:32] lucasteles opened #81 "How use id with Guid/UUID/Sequential Guid"
So, sequential Guid can be predictable
Or even with normal Guids, could be necessary to have small URLs

What is the best way to approach this?
Is it okay to hash it as a byte array with this library?

[2022-10-27 16:57] ullmark commented on #81
Hashids is a tool for encoding integers and longs. So you wouldn't use it with guids.

But you could always add a column with an auto incrementing integer to your database table if you want to use hashids.

[2022-11-15 17:23] ckpearson opened #82 "Is there a guarantee of encoded sequence uniqueness with differing salts?"
We're currently using hashids to generate short-form ids based on a sequence, so that ids are human readable.

We're producing "friendly" ids by tracking sequences within "categories", e.g. "Cat1" = 1, "Cat2" = 4, and so generating a new ID is a process of:
1. Incrementing the sequence value
2. Requesting Hashids to encode the value of the sequence where the category is the salt

Are the encoded H

[2022-11-16 00:13] manigandham commented on #82
I haven't looked at the algorithm in a while but you can check it here: https://hashids.org/

Different salts with the same integer input will have different outputs. Different salts with any arbitrary input will have duplicate outputs at some point as far as I know, and you can test this by decoding encoded hashes with different salts. This should be rare though.

If you already have your categor

[2022-11-16 12:54] #81 closed

[2022-11-16 13:00] ullmark commented on #82
I am not sure either tbh, but I would guess that outputs can produce duplicate values in that scenario.

But why not just let salt remain the same and pass in the category as the first value and the "id" be the second. `[1, 4]` to generate a short id?

[2022-11-17 10:32] #82 closed

[2022-11-17 12:28] ckpearson commented on #82
Thanks for the reply both, will take a look at generating a large number of IDs to check for clashes.

Our category is a string value so not sure we could use it as an additional encode value.

If we start running into clashes we can always prefix the generated hashID with something to scope them.

Appreciate we're using it for ID generation rather than ID obfuscation :+1:

[2022-11-17 13:42] ullmark commented on #82
@ckpearson Ok, I'm obviously not informed into your details enough to really know, but from sound of it, you're trying to use Hashids for a task that it might not be best suited for... but with that said;

I would still recommend you to have an integer id stored together with your data that you can use hashids with to encode. That's what the library is for, not generating id:s.

[2022-11-17 17:42] scholarrx-pelka opened #83 "Insufficient Variation In Generated HashIds"
We're running into issues where the HashIds are too similar for users to differentiate, ie:
![image](https://user-images.githubusercontent.com/98165322/202518533-4c48e6fa-72fa-49b8-816a-ae8ce3417d74.png)
![image](https://user-images.githubusercontent.com/98165322/202518846-018bf215-8387-4968-85d4-283eeb813715.png)

Is there a way to enforce better variation?

[2022-11-18 03:15] manigandham commented on #83
Since you're using a limited alphabet, you can try setting the min length to a higher number or sending in an array of digits instead of the whole integer. No other way to change as this is the hashids algorithm shared with all other languages.